.footer {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color: darkblue;
  color: black;
}

.footer-section {
  text-align: center;
  margin: 10px;
  padding: 10px;
  background-color: darkblue;
}

.footer-section h4 {
  margin-bottom: 10px;
}

.footer-section a {
  display: block;
  color: black;
  text-decoration: none;
  margin: 5px 5px;
  background-color: darkblue;
}

.footer-section a:hover {
  color: #ff6347; 
}

.footer-bottom {
  background-color: darkblue;
  text-align: center;
}
.footer-bottom h3 {
  color: black;
  text-decoration: none;
  margin: 0;
}
.footer-bottom a {
  color: black;
  text-decoration: none;
  padding: 8px;
}

